body {
    background-color: rgba(41, 44, 46, 0.877);
    margin: 0;
    padding: 0;
    width: max-content;
}


#Buscador {
    position: fixed;
    background-color: rgba(41, 44, 46, 0);
    color: white;
    font-size: 1.5vw;
    text-align: center;
    width: 30vw;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 35vw;
    padding-left: 5vh;
    padding-right: 5vh;
    border: 4px rgba(201, 206, 209, 0.877) solid;
    border-radius: 30px;
    box-sizing:border-box;
}

#Ella {
    height: 50vh;
    width: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 35vh;
    position: relative;
    border-radius: 15px;
}


#Superpocion {
    height: 50vh;
    width: auto;
    margin-top: 35vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    border-radius: 15px;
}


#Muerte {
    height: 50vh;
    width: auto;
    margin-top: 35vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    border-radius: 15px;
}


#Sangre {
    height: 50vh;
    width: auto;
    margin-top: 35vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    border-radius: 15px;
}


#Dulceria {
    height: 50vh;
    width: auto;
    margin-top: 35vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    border-radius: 15px;
}

#Angel {
    height: 50vh;
    width: auto;
    margin-top: 35vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    border-radius: 15px;
}

@media (min-width: 2000px) {

#Buscador {
    position: relative;
    background-color: rgba(41, 44, 46, 0);
    color: white;
    font-size: 5vw;
    text-align: center;
    width: 70vw;
    height: 80px;
    margin-top: 10vh;
    margin-left: 15vw;
    padding-left: 5vh;
    padding-right: 5vh;
    border: 4px rgba(201, 206, 209, 0.877) solid;
    border-radius: 30px;
    box-sizing:border-box;
    display: block;
}


#Superpocion {
    width: 70vw;
    height: auto;
    margin-top: 30vh;
    margin-left: 15vw;
    position: relative;
    display: block;
    border-radius: 15px;
}


#Ella {
    width: 70vw;
    height: auto;
    margin-left: 15vw;
    margin-top: 100px;
    position: relative;
    display: block;
    border-radius: 15px;
}

#Muerte {
    width: 70vw;
    height: auto;
    margin-top: 100px;
    margin-left: 15vw;
    position: relative;
    display: block;
    border-radius: 15px;
}


#Sangre {
    width: 70vw;
    height: auto;
    margin-top: 100px;
    margin-left: 15vw;
    position: relative;
    display: block;
    border-radius: 15px;
}

#Dulceria {
    width: 70vw;
    height: auto;
    margin-top: 100px;
    margin-left: 15vw;
    position: relative;
    display: block;
    border-radius: 15px;
}

#Angel {
    width: 70vw;
    height: auto;
    margin-top: 100px;
    margin-left: 15vw;
    position: absolute;
    display: block;
    border-radius: 15px;
}



}




