*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(41, 44, 46, 0.877);
    margin: 0;
    padding: 0;
}

/*-----------CABECERA - ICONO Y MENU-----------*/
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
header .logo_cont{
    width: 30%;
    display: flex;
    align-items: center;
}
header .logo_cont img{
    width: 100px;
    display: inline;
}
header .logo_cont h1{
    margin-left: 10px;
    color: white;
}

/*Menú de la página*/
header .menu{
    width: 50%;
    margin-left: 7%;
    min-width: 400px;
}
header .menu ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
header .menu ul li{
    padding: 10px 25px;
}
header .menu ul li:hover{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}

header .menu ul li a{
    color: white;
    text-decoration: none;
}


/*COMIENZO DEL CONTENIDO PRINCIPAL*/

/*contenedor principal*/
.contenedor{
    margin-top: 30px;
}

/*Buscador*/
.search_cont{
    display: flex;
    justify-content: center;
}
/*este sirve para poder contener al input y al icon en el mismo orden*/
.searchbar{
    width: 50%;
    height: 10vw;
    max-height: 40px;
    position: relative;
}
.buscador {
    background-color: rgba(41, 44, 46, 0);
    color: white;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 4px rgba(201, 206, 209, 0.877) solid;
    border-radius: 30px;
    outline: none;
}
/*icono de busqueda, con posición absoluta para poder estar "dentro" del input*/
.icon-search{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
	height: 20px;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);  
    z-index: 10;
}
.icon-search:hover{
    font-size: 23px;
    cursor: pointer;
}

/*-------------Contenedor de libros-------------*/
.books-content{
    display: flex;
    width: 90%;
    margin: 10px auto 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}
/*--------contenedor de cada libro--------*/
.book{
    margin: 10px 0px;
    min-width: 150px;
    max-width: 350px;
    position: relative;
}

.book:hover .info_hover{
    height: 30%;
    padding: 13px;
}
.book img{
    width: 100%;
    height: 100%;
}

/*información oculta*/


.book .info_hover {
    position: absolute;
    background-color: rgba(180, 203, 86, 0.5);
    border: 1px solid black;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    transition: all 1s ease;
    bottom: 0px;
    height: 0px;
    overflow: hidden;
}
.info_hover span{
    font-weight: 700;
}




/*MEDIA QUERYS*/
@media (max-width: 630px) {
    header{
        justify-content: center;
    }
    header .logo_cont{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    header .logo_cont img{
        width: 15%;
        min-width: 30px;
    }
    header .menu{
        width: 90%;
        margin-left: 0;
    }

    /*buscador*/
    .searchbar{
        width: 90%;
    }
    .buscador{
        font-size: 5vw;
    }
}